ul.content-tabs.clubs-sole-members__tabs
  li.content-tabs-item
    a.content-tabs-link(
      href=self.link_to('clubs.sole.members', { club_hid: self.club.hid })
      class=self.active_tab === 'index' ? 'active' : ''
    )
      = self.t('index')
      span.content-tabs-counter= self.stats.members

  li.content-tabs-item
    a.content-tabs-link(
      href=self.link_to('clubs.sole.members.blocked', { club_hid: self.club.hid })
      class=self.active_tab === 'blocked' ? 'active' : ''
    )
      = self.t('blocked')
      span.content-tabs-counter= self.stats.blocked

  if self.club.is_closed
    li.content-tabs-item
      a.content-tabs-link(
        href=self.link_to('clubs.sole.members.pending', { club_hid: self.club.hid })
        class=self.active_tab === 'pending' ? 'active' : ''
      )
        = self.t('pending')
        span.content-tabs-counter= self.stats.pending_members

  li.content-tabs-item
    a.content-tabs-link(
      href=self.link_to('clubs.sole.members.owners', { club_hid: self.club.hid })
      class=self.active_tab === 'owners' ? 'active' : ''
    )
      = self.t('owners')
      span.content-tabs-counter= self.stats.owners + self.stats.pending_owners

  if self.can_see_log
    li.content-tabs-item
      a.content-tabs-link(
        href=self.link_to('clubs.sole.members.log', { club_hid: self.club.hid })
        class=self.active_tab === 'log' ? 'active' : ''
      )
        = self.t('log')
        span.content-tabs-counter= self.stats.log_records
