- self.users = self.users || {};

article#content.clubs-sole-members-blocked
  -
    const navbar_base = {
      level_up: self.link_to('clubs.sole', { club_hid: self.club.hid })
    };

    const navbar_primary = {
      search_tab: 'club_topics',
      search_areas: [
        {
          title: self.t('search_club'),
          method: 'search.club_sole',
          params: { hid: String(self.club.hid) }
        }
      ]
    };

  != self.partial('@common.blocks.navbar.levelup_apps', { ...navbar_base, ...navbar_primary })

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@common.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')
        span.clubs-sole-members__title= self.t('@clubs.sole.members.title')

    != self.partial('@clubs.sole.members.tabs', { active_tab: 'blocked' })

    .clubs-sole-members__content
      if (self.is_club_owner && self.settings.clubs_lead_can_edit_club_members) || self.settings.clubs_mod_can_edit_club_members
        form.clubs-sole-members__form(novalidate, data-on-submit='clubs.sole.members.blocked:add')
          input(type='hidden', name='club_id', value=self.club._id)

          .input-group.clubs-sole-members__input-group
            input.form-control#clubs-sole-members-add-block(type='text', name='nick', placeholder=self.t('input_placeholder'), required)
            button.btn.btn-secondary(type='submit')= self.t('block')

      ul.clubs-sole-members__list
        //- sort users by nick
        -
          var items = self.blocked.map(function (block) {
            return { block: block, user: self.users[block.user] };
          }).filter(Boolean).sort(function (a, b) {
            return a.user.nick > b.user.nick ? 1 : -1;
          });

        each item in items
          li.clubs-sole-members__list-item
            a.clubs-sole-members__member(href=self.link_to('users.member', { user_hid: item.user.hid }))
              img.clubs-sole-members__avatar(alt=item.user.name)&attributes(self.avatar(item.user, 'sm'))
              span.clubs-sole-members__nick= item.user.name

            span.clubs-sole-members__ban-date(
              title=self.t('block_title', { user: self.users[item.block.from] && self.users[item.block.from].nick, date: self.date(item.block.ts, 'datetime') })
            )= self.date(item.block.ts, 'relative')

            if (self.is_club_owner && self.settings.clubs_lead_can_edit_club_members) || self.settings.clubs_mod_can_edit_club_members
              button.btn.btn-sm.btn-square.icon.icon-x.clubs-sole-members__action(
                title=self.t('unblock')
                data-on-click='clubs.sole.members.blocked:remove'
                data-user-nick=item.user.nick
                data-club-id=self.club._id
              )
        else
          .clubs-sole-members__list-empty= self.t('no_users')
