#content
  -
    const navbar_base = {
      level_up: self.link_to('clubs.sole', { club_hid: self.club.hid })
    };

    const navbar_primary = {
      search_tab: 'club_topics',
      search_areas: [
        {
          title: self.t('@clubs.sole.search_club'),
          method: 'search.club_sole',
          params: { hid: String(self.club.hid) }
        }
      ]
    };

  != self.partial('@common.blocks.navbar.levelup_apps', { ...navbar_base, ...navbar_primary })

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@common.blocks.announces')

    .row
      .col-sm-8.m-auto
        .card

          h1.card-header.h3= self.head.title

          form.card-body(novalidate, data-on-submit='clubs.sole.edit:save')
            input(
              type='hidden'
              name='club_id'
              value=self.club._id
            )

            .mb-3
              label.form-label= self.t('title_input_name')
              input.form-control(
                name='title'
                id='club-edit__title'
                placeholder=self.t('title_input_desc')
                value=self.club.title
                pattern='.*\\S.*'
                maxlength=self.title_max_length
                required
              )

            .mb-3
              label.form-label= self.t('description_input_name')
              textarea.form-control(
                name='description'
                placeholder=self.t('description_input_desc')
              )= self.club.description

            .mb-3
              label.form-label= self.t('avatar_input_name')

              .club-avatar(
                class=self.club.avatar_id ? 'club-avatar__m-exists' : ''
              )
                input#club-avatar-upload__file(
                  name='avatar'
                  type='file'
                  style='position: absolute; left: -10000px'
                  data-on-change='clubs.sole.edit:avatar_change'
                )

                a.club-avatar__link(
                  href='#',
                  onClick='document.getElementById("club-avatar-upload__file").click()'
                )
                  img.club-avatar__image()&attributes(self.avatar(self.club))
                  .club-avatar__caption= self.t('change_avatar')

                a.club-avatar__delete.btn.btn-sm.btn-square.btn-secondary.icon.icon-x(
                  href='#'
                  data-on-click='clubs.sole.edit:avatar_remove'
                )

            .club-edit-location.mb-3
              label.form-label= self.t('location_input_name')
              .form-control-plaintext.club-edit-location__content
                a(
                  href=self.link_to('clubs.sole.edit.location', { club_hid: self.club.hid })
                )
                  if self.club.location
                    if self.location_name
                      = self.location_name
                    else
                      = self.t('location_edit')
                  else
                    = self.t('location_set')

                if self.club.location
                  a.icon.icon-x.icon-space-before(
                    href='#'
                    title=self.t('location_remove')
                    data-on-click='clubs.sole.edit:location_remove'
                  )

              //- shown only if user removed the location and didn't save changes yet
              .form-control-plaintext.club-edit-location__removed-content
                a(
                  href=self.link_to('clubs.sole.edit.location', { club_hid: self.club.hid })
                )
                  = self.t('location_set')

            .mb-3
              label.form-label= self.t('membership_input_name')

              .form-check
                input#club-membership-open.form-check-input(type='radio', name='membership', value='open', checked=!self.club.is_closed)
                label.form-check-label(for='club-membership-open')
                  = self.t('membership_open')

              .form-check
                input#club-membership-closed.form-check-input(type='radio', name='membership', value='closed', checked=self.club.is_closed)
                label.form-check-label(for='club-membership-closed')
                  = self.t('membership_closed')

            button.btn.btn-primary(type='submit')= self.t('save')
