article#content.clubs-sole
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head.clubs-sole__head
      .clubs-sole__aside
        img.clubs-sole__avatar(alt=self.club.title)&attributes(self.avatar(self.club, 'sm'))

      .clubs-sole__meta
        .clubs-sole__meta-top
          .clubs-sole__meta-title-admins
            .clubs-sole__title= self.club.title
            .clubs-sole__admins
              = self.t('administrators')
              ul.clubs-sole__admin-list
                each userid in self.club_admin_ids
                  - var user = self.users && self.users[userid];
                  if user
                    li.clubs-sole__admin-list-item
                      a.clubs-sole__admin-list-link(href=self.link_to('users.member', { user_hid: user.hid }))= user.name

          .page-actions.clubs-sole__toolbar-controls
            button.btn.btn-primary(type='button')= self.t('join')

        .clubs-sole__description= self.club.description
        .clubs-sole__members
          a(href='#')= self.t('members', self.club.members)

    .clubs-sole__postlist!= self.partial('@clubs.blocks.topics_list')
