- self.add_raw_data('settings', self.settings)
- self.add_raw_data('club', self.club)
- self.add_raw_data('is_club_owner', self.is_club_owner)
- self.add_raw_data('is_club_member', self.is_club_member)
- self.add_raw_data('subscription', self.subscription)
- self.add_raw_data('pagination', self.pagination)

article#content.clubs-sole-root(
  data-keymap= {
    'home': 'clubs.sole:nav_to_start',
    'end':  'clubs.sole:nav_to_end'
  }
  class=(self.pagination.chunk_offset > 0 ? '' : 'clubs-sole-root__m-first-page')
  class=(self.club.exists ? '' : 'clubs-sole-root__m-deleted')
  data-last-topic-hid= self.last_topic_hid
)

  -
    var navbar_args = {
      title:    self.club.title,
      level_up: self.link_to('clubs.index'),
      toolbar:  'clubs.sole.blocks.toolbar_controls',
      progress: {
        link_top:    self.link_to('clubs.sole', { club_hid: self.club.hid }),
        link_bottom: self.link_to('clubs.sole', { club_hid: self.club.hid, topic_hid: self.last_topic_hid }),
        current:     self.pagination.chunk_offset,
        total:       self.pagination.total
      },
      search_areas: [
        {
          title: self.t('search_club'),
          method: 'search.club_sole',
          params: { hid: String(self.club.hid) }
        }
      ]
    };

  != self.partial('@common.blocks.navbar.levelup_progress_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_levelup_progress_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head.clubs-sole__head
      .clubs-sole__aside
        img.clubs-sole__avatar(alt=self.club.title)&attributes(self.avatar(self.club, 'sm'))

      .clubs-sole__meta
        .clubs-sole__meta-top
          .clubs-sole__meta-title-owners
            .clubs-sole__title
              if self.club.is_closed
                span.clubs-sole__closed-mark.icon.icon-closed.icon-space-after(title=self.t('closed'))

              span.clubs-sole__title-text= self.club.title

              if self.settings.clubs_mod_can_edit_clubs || (self.is_club_owner && self.settings.clubs_lead_can_edit_clubs)
                a.clubs-sole__edit.icon.icon-edit(
                  href=self.link_to('clubs.sole.edit', { club_hid: self.club.hid })
                  title=self.t('edit_club')
                )

            .clubs-sole__owners
              = self.t('owners', self.club_owner_ids.length)
              ul.clubs-sole__owner-list
                each userid in self.club_owner_ids
                  - var user = self.users && self.users[userid];
                  if user
                    li.clubs-sole__owner-list-item
                      a.clubs-sole__owner-list-link(href=self.link_to('users.member', { user_hid: user.hid }))= user.name

          != self.partial('@clubs.sole.blocks.toolbar_controls')

        .clubs-sole__description= self.club.description
        .clubs-sole__members 
          if self.club.location
            a.clubs-sole__location.icon.icon-location(
              href='#'
              title=self.location_name
              data-on-click='common.blocks.location_show_dlg'
              data-latitude=self.club.location[1]
              data-longitude=self.club.location[0]
            )

          a(href=self.link_to('clubs.sole.members', { club_hid: self.club.hid }), rel='nofollow')= self.t('members', self.club.members)

    if self.topics && self.topics.length
      .clubs-sole__loading-prev.nojs-hide(
        class=(self.pagination.chunk_offset === 0 ? 'd-none' : '')
      )
        span.icon.icon-loading-placeholder

      .clubs-topiclist
        != self.partial('@clubs.blocks.topics_list')

      .clubs-sole__loading-next.nojs-hide(
        class=(self.topics && self.topics.length > 0 && self.topics[self.topics.length - 1].hid === self.last_topic_hid ? 'd-none' : '')
      )
        span.icon.icon-loading-placeholder

      nav.pager.js-hide
        if self.head.prev
          a.btn.btn-secondary(href=self.head.prev)= self.t('prev_page')

        if self.head.next
          a.btn.btn-secondary(href=self.head.next)= self.t('next_page')
    else
      p.clubs-sole__notopics
        != self.t('no_topics')
