- self.add_raw_data('settings', self.settings)
- self.add_raw_data('query', self.query)

article#content.clubs-search
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    form.clubs-search-form(action=self.link_to('clubs.search'))
      .input-group
        input.form-control(type='text', name='query', value=self.query, minlength=2, required)

        span.input-group-btn
          button.btn.btn-secondary.icon.icon-search.icon-space-before(type='submit', title=self.t('search'))

    header.page-head.clubs-search__head
      h1.clubs-search__title.page-head__title(itemprop='name')= self.t('results')

      .page-actions.clubs-search__toolbar-controls
        if self.settings.clubs_can_create_clubs
          button.btn.btn-secondary(
            data-on-click='clubs.search:create_club'
            type='button'
          )= self.t('create')

    .clubs-search__club-list
